@model App.Domain.IdeaTag

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IdeaTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectIdea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectIdea.Explanation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag.Tagname)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
